<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body bg-danger" *ngIf="error">
      <div class="card-body">
        <p class="card-text">{{error.message}}</p>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">Welcome !!!</h5>
      <p class="card-text">Angular Demo Application protected by <a href="https://gluu.org" target="_blank">Gluu CE OpenID Connect</a> using <a href="https://github.com/openid/AppAuth-JS" target="_blank">App Auth JS</a></p>
      <button type="button" (click)="redirect()" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
